In [2]:
import pandas as pd
import numpy as np
import plotly.express as px
from apyori import apriori

In [3]:
df_market = pd.read_csv('../Bases de dados/mercado.csv',header=None)
df_market

          0        1         2         3
0     leite  cerveja       pao  manteiga
1      cafe      pao  manteiga       NaN
2      cafe      pao  manteiga       NaN
3     leite     cafe       pao  manteiga
4   cerveja      NaN       NaN       NaN
5  manteiga      NaN       NaN       NaN
6       pao      NaN       NaN       NaN
7    feijao      NaN       NaN       NaN
8     arroz   feijao       NaN       NaN
9     arroz      NaN       NaN       NaN

In [4]:
transacations = []
for i in range(len(df_market)):
    transacations.append([str(df_market.values[i,j]) for j in range(df_market.shape[1])])
transacations

[['leite', 'cerveja', 'pao', 'manteiga'],
 ['cafe', 'pao', 'manteiga', 'nan'],
 ['cafe', 'pao', 'manteiga', 'nan'],
 ['leite', 'cafe', 'pao', 'manteiga'],
 ['cerveja', 'nan', 'nan', 'nan'],
 ['manteiga', 'nan', 'nan', 'nan'],
 ['pao', 'nan', 'nan', 'nan'],
 ['feijao', 'nan', 'nan', 'nan'],
 ['arroz', 'feijao', 'nan', 'nan'],
 ['arroz', 'nan', 'nan', 'nan']]

In [5]:
type(transacations)

list

In [6]:
rules = apriori(transacations, min_support=0.3,min_confidence=0.8, min_lift=2)
results = list(rules)
results

[RelationRecord(items=frozenset({'cafe', 'manteiga'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'cafe', 'pao'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'pao', 'cafe', 'manteiga'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga', 'pao'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'cafe', 'manteiga'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'cafe', 'pao'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)])]

In [7]:
len(results)

3

In [8]:
results[2]

RelationRecord(items=frozenset({'pao', 'cafe', 'manteiga'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga', 'pao'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'cafe', 'manteiga'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'cafe', 'pao'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)])

In [9]:
r = results[2][2]
r

[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga', 'pao'}), confidence=1.0, lift=2.5),
 OrderedStatistic(items_base=frozenset({'cafe', 'manteiga'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0),
 OrderedStatistic(items_base=frozenset({'cafe', 'pao'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]

In [10]:
r[0]

OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga', 'pao'}), confidence=1.0, lift=2.5)

In [11]:
r[1]

OrderedStatistic(items_base=frozenset({'cafe', 'manteiga'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0)

In [12]:
r[2]

OrderedStatistic(items_base=frozenset({'cafe', 'pao'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)

In [13]:
A =[]
B = []
support=[]
trust = []
lift = []

for r in results:
    s = r[1]
    results_rule = r[2]
    for result_rule in results_rule:
        a = list(result_rule[0])
        b = list(result_rule[1])
        c = result_rule[2]
        l = result_rule[3]
        A.append(a)
        B.append(b)
        support.append(s)
        trust.append(c)
        lift.append(l)

In [14]:
A

[['cafe'], ['cafe'], ['cafe'], ['cafe', 'manteiga'], ['cafe', 'pao']]

In [15]:
B

[['manteiga'], ['pao'], ['manteiga', 'pao'], ['pao'], ['manteiga']]

In [16]:
support

[0.3, 0.3, 0.3, 0.3, 0.3]

In [17]:
trust

[1.0, 1.0, 1.0, 1.0, 1.0]

In [18]:
lift

[2.0, 2.0, 2.5, 2.0, 2.0]

In [19]:
rules_market = pd.DataFrame({'A':A,'B':B,'Support':support,'Trus':trust,'Lift':lift})
rules_market

                  A                B  Support  Trus  Lift
0            [cafe]       [manteiga]      0.3   1.0   2.0
1            [cafe]            [pao]      0.3   1.0   2.0
2            [cafe]  [manteiga, pao]      0.3   1.0   2.5
3  [cafe, manteiga]            [pao]      0.3   1.0   2.0
4       [cafe, pao]       [manteiga]      0.3   1.0   2.0

In [20]:
rules_market.sort_values(by='Lift',ascending=False)

                  A                B  Support  Trus  Lift
2            [cafe]  [manteiga, pao]      0.3   1.0   2.5
0            [cafe]       [manteiga]      0.3   1.0   2.0
1            [cafe]            [pao]      0.3   1.0   2.0
3  [cafe, manteiga]            [pao]      0.3   1.0   2.0
4       [cafe, pao]       [manteiga]      0.3   1.0   2.0

Data Market 2

In [21]:
df_market_2 = pd.read_csv('../Bases de dados/mercado2.csv',header=None)
df_market_2

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7500,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df_market_2.shape

(7501, 20)

In [23]:
transacations_market2=[]
for i in df_market_2:
    transacations_market2.append([str(df_market_2.values[i,j]) for j in range(df_market_2.shape[1])])

In [24]:
transacations_market2

[['shrimp',
  'almonds',
  'avocado',
  'vegetables mix',
  'green grapes',
  'whole weat flour',
  'yams',
  'cottage cheese',
  'energy drink',
  'tomato juice',
  'low fat yogurt',
  'green tea',
  'honey',
  'salad',
  'mineral water',
  'salmon',
  'antioxydant juice',
  'frozen smoothie',
  'spinach',
  'olive oil'],
 ['burgers',
  'meatballs',
  'eggs',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan'],
 ['chutney',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan'],
 ['turkey',
  'avocado',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan'],
 ['mineral water',
  'milk',
  'energy bar',
  'whole wheat rice',
  'green tea',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan'],
 ['low fat yogurt',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan'],
 ['whole wheat pasta',
  'french fries',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan'],
 ['soup',
  'light cream',
  'shallot',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan'],
 ['frozen vegetables',
  'spaghetti',
  'green tea',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan'],
 ['french fries',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan'],
 ['eggs',
  'pet food',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan'],
 ['cookies',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan'],
 ['turkey',
  'burgers',
  'mineral water',
  'eggs',
  'cooking oil',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan'],
 ['spaghetti',
  'champagne',
  'cookies',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan'],
 ['mineral water',
  'salmon',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan'],
 ['mineral water',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan'],
 ['shrimp',
  'chocolate',
  'chicken',
  'honey',
  'oil',
  'cooking oil',
  'low fat yogurt',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan'],
 ['turkey',
  'eggs',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan'],
 ['turkey',
  'fresh tuna',
  'tomatoes',
  'spaghetti',
  'mineral water',
  'black tea',
  'salmon',
  'eggs',
  'chicken',
  'extra dark chocolate',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan'],
 ['meatballs',
  'milk',
  'honey',
  'french fries',
  'protein bar',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan']]

Products that are salled 4 times for day

In [25]:
4*7

28

In [26]:
28/7501

0.0037328356219170776

In [27]:
rules_market_2 = apriori(transacations_market2, min_confidence=0.2, min_lift=3)
results_market2 = list(rules_market_2)
len(results_market2)

10

In [28]:
A =[]
B = []
support=[]
trust = []
lift = []

for r in results_market2:
    s = r[1]
    results_rule = r[2]
    for result_rule in results_rule:
        a = list(result_rule[0])
        b = list(result_rule[1])
        c = result_rule[2]
        l = result_rule[3]
        A.append(a)
        B.append(b)
        support.append(s)
        trust.append(c)
        lift.append(l)

In [29]:
rules_market_2 = pd.DataFrame({'A':A,'B':B,'Support':support,'Trus':trust,'Lift':lift})
rules_market_2.sort_values(by='Lift',ascending=False)

,A,B,Support,Trus,Lift
21,"[low fat yogurt, honey]",[shrimp],0.10,1.000000,10.000000
20,[shrimp],"[low fat yogurt, honey]",0.10,1.000000,10.000000
23,"[shrimp, low fat yogurt]",[honey],0.10,1.000000,6.666667
22,"[shrimp, honey]",[low fat yogurt],0.10,1.000000,6.666667
5,[shrimp],[honey],0.10,1.000000,6.666667
4,[honey],[shrimp],0.10,0.666667,6.666667
18,[honey],"[shrimp, low fat yogurt]",0.10,0.666667,6.666667
19,[low fat yogurt],"[shrimp, honey]",0.10,0.666667,6.666667
7,[shrimp],[low fat yogurt],0.10,1.000000,6.666667
6,[low fat yogurt],[shrimp],0.10,0.666667,6.666667
15,[turkey],"[eggs, mineral water]",0.10,0.500000,5.000000
16,"[eggs, mineral water]",[turkey],0.10,1.000000,5.000000
27,[turkey],"[nan, eggs, mineral water]",0.10,0.500000,5.000000
28,"[eggs, mineral water]","[nan, turkey]",0.10,1.000000,5.000000
31,"[nan, turkey]","[eggs, mineral water]",0.10,0.500000,5.000000
32,"[nan, eggs, mineral water]",[turkey],0.10,1.000000,5.000000
3,[low fat yogurt],[honey],0.10,0.666667,4.444444
2,[honey],[low fat yogurt],0.10,0.666667,4.444444
1,[eggs],[burgers],0.10,0.400000,4.000000
0,[burgers],[eggs],0.10,1.000000,4.000000
17,"[turkey, mineral water]",[eggs],0.10,1.000000,4.000000
14,[eggs],"[turkey, mineral water]",0.10,0.400000,4.000000
11,[eggs],"[nan, burgers]",0.10,0.400000,4.000000
10,[burgers],"[nan, eggs]",0.10,1.000000,4.000000
12,"[nan, burgers]",[eggs],0.10,1.000000,4.000000
13,"[nan, eggs]",[burgers],0.10,0.400000,4.000000
30,"[turkey, mineral water]","[nan, eggs]",0.10,1.000000,4.000000
33,"[nan, turkey, mineral water]",[eggs],0.10,1.000000,4.000000
29,"[nan, eggs]","[turkey, mineral water]",0.10,0.400000,4.000000
26,[eggs],"[nan, turkey, mineral water]",0.10,0.400000,4.000000
8,[mineral water],[salmon],0.15,0.500000,3.333333
9,[salmon],[mineral water],0.15,1.000000,3.333333
25,"[nan, salmon]",[mineral water],0.10,1.000000,3.333333
24,[mineral water],"[nan, salmon]",0.10,0.333333,3.333333